In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_csv("autism_screening_adult.csv")
data

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jaundice,family_pdd,country_of_res,used_app_before,result,age_desc,relation,class
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,'United States',no,6,'18 and more',Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,'18 and more',Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,'18 and more',Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,'United States',no,6,'18 and more',Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,NaN,no,no,Egypt,no,2,'18 and more',NaN,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,0,1,0,1,1,0,1,1,1,1,...,f,White-European,no,no,Russia,no,7,'18 and more',Self,YES
700,1,0,0,0,0,0,0,1,0,1,...,m,Hispanic,no,no,Mexico,no,3,'18 and more',Parent,NO
701,1,0,1,1,1,0,1,1,0,1,...,f,NaN,no,no,Russia,no,7,'18 and more',NaN,YES
702,1,0,0,1,1,0,1,0,1,1,...,m,'South Asian',no,no,Pakistan,no,6,'18 and more',Self,NO
703,1,0,1,1,1,0,1,1,1,1,...,f,White-European,no,no,Cyprus,no,8,'18 and more',Self,YES

In [3]:
data.isna().sum()

A1_Score            0
A2_Score            0
A3_Score            0
A4_Score            0
A5_Score            0
A6_Score            0
A7_Score            0
A8_Score            0
A9_Score            0
A10_Score           0
age                 2
gender              0
ethnicity          95
jaundice            0
family_pdd          0
country_of_res      0
used_app_before     0
result              0
age_desc            0
relation           95
class               0
dtype: int64

In [ ]:
# data = data.drop(columns=["ethnicity","relation"],axis=1)

In [4]:
# Columns which are not important

data = data.drop(columns=["used_app_before","result","age_desc"],axis=1)

In [5]:
data = data.dropna(subset=['age',"ethnicity","relation"])

In [6]:
data["class"] = data["class"].str.lower()
data

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jaundice,family_pdd,country_of_res,relation,class
0,1,1,1,1,0,0,1,1,0,0,26.0,f,White-European,no,no,'United States',Self,no
1,1,1,0,1,0,0,0,1,0,1,24.0,m,Latino,no,yes,Brazil,Self,no
2,1,1,0,1,1,0,1,1,1,1,27.0,m,Latino,yes,yes,Spain,Parent,yes
3,1,1,0,1,0,0,1,1,0,1,35.0,f,White-European,no,yes,'United States',Self,no
5,1,1,1,1,1,0,1,1,1,1,36.0,m,Others,yes,no,'United States',Self,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,1,1,1,1,1,1,1,1,1,1,27.0,f,Pasifika,no,no,Australia,Self,yes
699,0,1,0,1,1,0,1,1,1,1,25.0,f,White-European,no,no,Russia,Self,yes
700,1,0,0,0,0,0,0,1,0,1,34.0,m,Hispanic,no,no,Mexico,Parent,no
702,1,0,0,1,1,0,1,0,1,1,35.0,m,'South Asian',no,no,Pakistan,Self,no
703,1,0,1,1,1,0,1,1,1,1,26.0,f,White-European,no,no,Cyprus,Self,yes

In [60]:
data['country_of_res'] = data['country_of_res'].str.strip("'\"")
data['ethnicity'] = data['ethnicity'].str.strip("'\"")
data['relation'] = data['relation'].str.strip("'\"")
data

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jaundice,family_pdd,country_of_res,relation,class
0,1,1,1,1,0,0,1,1,0,0,26.0,f,White-European,no,no,United States,Self,no
1,1,1,0,1,0,0,0,1,0,1,24.0,m,Latino,no,yes,Brazil,Self,no
2,1,1,0,1,1,0,1,1,1,1,27.0,m,Latino,yes,yes,Spain,Parent,yes
3,1,1,0,1,0,0,1,1,0,1,35.0,f,White-European,no,yes,United States,Self,no
5,1,1,1,1,1,0,1,1,1,1,36.0,m,Others,yes,no,United States,Self,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,1,1,1,1,1,1,1,1,1,1,27.0,f,Pasifika,no,no,Australia,Self,yes
699,0,1,0,1,1,0,1,1,1,1,25.0,f,White-European,no,no,Russia,Self,yes
700,1,0,0,0,0,0,0,1,0,1,34.0,m,Hispanic,no,no,Mexico,Parent,no
702,1,0,0,1,1,0,1,0,1,1,35.0,m,South Asian,no,no,Pakistan,Self,no
703,1,0,1,1,1,0,1,1,1,1,26.0,f,White-European,no,no,Cyprus,Self,yes

In [61]:
print(data['country_of_res'].unique().tolist())

['United States', 'Brazil', 'Spain', 'New Zealand', 'Bahamas', 'Burundi', 'Jordan', 'Ireland', 'United Arab Emirates', 'Afghanistan', 'United Kingdom', 'South Africa', 'Italy', 'Pakistan', 'Egypt', 'Bangladesh', 'Chile', 'France', 'China', 'Australia', 'Canada', 'Saudi Arabia', 'Netherlands', 'Romania', 'Sweden', 'Tonga', 'Oman', 'India', 'Philippines', 'Sri Lanka', 'Sierra Leone', 'Ethiopia', 'Viet Nam', 'Iran', 'Costa Rica', 'Germany', 'Mexico', 'Armenia', 'Iceland', 'Nicaragua', 'Austria', 'Russia', 'AmericanSamoa', 'Uruguay', 'Ukraine', 'Serbia', 'Portugal', 'Malaysia', 'Ecuador', 'Niger', 'Belgium', 'Bolivia', 'Aruba', 'Finland', 'Turkey', 'Nepal', 'Indonesia', 'Angola', 'Czech Republic', 'Cyprus']

In [62]:
print(data['ethnicity'].unique().tolist())

['White-European', 'Latino', 'Others', 'Black', 'Asian', 'Middle Eastern ', 'Pasifika', 'South Asian', 'Hispanic', 'Turkish', 'others']

In [64]:
print(data['relation'].unique().tolist())

['Self', 'Parent', 'Health care professional', 'Relative', 'Others']

In [65]:
X = data.drop("class",axis=1)
y = data["class"]

In [66]:
X.isna().sum()

A1_Score          0
A2_Score          0
A3_Score          0
A4_Score          0
A5_Score          0
A6_Score          0
A7_Score          0
A8_Score          0
A9_Score          0
A10_Score         0
age               0
gender            0
ethnicity         0
jaundice          0
family_pdd        0
country_of_res    0
relation          0
dtype: int64

In [67]:
X.isna().sum()

A1_Score          0
A2_Score          0
A3_Score          0
A4_Score          0
A5_Score          0
A6_Score          0
A7_Score          0
A8_Score          0
A9_Score          0
A10_Score         0
age               0
gender            0
ethnicity         0
jaundice          0
family_pdd        0
country_of_res    0
relation          0
dtype: int64

In [68]:
X=pd.get_dummies(X,columns=["country_of_res","ethnicity", "relation"], drop_first=True)

In [69]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)
X['gender']=le.fit_transform(X['gender'])
X['family_pdd']=le.fit_transform(X['family_pdd'])
X['jaundice']=le.fit_transform(X['jaundice'])

In [70]:
import pickle

columns = X.columns.tolist()
with open('column_names_adult.pkl', 'wb') as f:
    pickle.dump(columns, f)

In [71]:
X.isna().sum()

A1_Score             0
A2_Score             0
A3_Score             0
A4_Score             0
A5_Score             0
                    ..
ethnicity_others     0
relation_Others      0
relation_Parent      0
relation_Relative    0
relation_Self        0
Length: 87, dtype: int64

In [72]:
# import pickle
# column_names =X.columns.tolist()
# with open('column_names.pkl', 'wb') as f:
#     pickle.dump(column_names, f)

In [73]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [74]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train_scaled=sc.fit_transform(X_train)
X_test_scaled=sc.transform(X_test)

with open('scaler.pkl', 'wb') as f:
    pickle.dump(sc, f)

In [75]:
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score,confusion_matrix
def train_model(model, X_train, y_train, X_test, y_test):
    
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)
    matrix=confusion_matrix(y_test,y_pred)
    print("Confusion Matrix is: ")
    print(matrix)
    print("\n\nScore Table is: ")
    score_df = pd.DataFrame([[accuracy, precision, recall, f1]], 
                            columns=["accuracy", "precision", "recall", "f1"])
    
    return score_df

In [76]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
result=train_model(model,X_train_scaled, y_train, X_test_scaled, y_test)
result.index=["Logistic Regression"]


with open("LR_adult_model.pkl","wb") as f:
    pickle.dump(model,f)
result

Confusion Matrix is:
[[80  1]
 [ 1 40]]


Score Table is:

                     accuracy  precision   recall       f1
Logistic Regression  0.983607    0.97561  0.97561  0.97561

In [77]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

# Assuming X_train_scaled has 29 features
input_shape = X_train_scaled.shape[1]

model = Sequential([
    Dense(64, activation='relu', input_shape=(input_shape,)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')  # for binary classification
])

model.compile(optimizer="Adam", loss="binary_crossentropy", metrics=["accuracy"])

callback = EarlyStopping(
    monitor="val_loss",
    min_delta=0.001,
    patience=10,
    verbose=1,
    mode="auto",
    restore_best_weights=True
)

train = model.fit(
    X_train_scaled, y_train,
    batch_size=20,
    epochs=100,
    validation_split=0.2,
    callbacks=[callback]
)

Epoch 1/100

c:\Users\bdarisi001\Desktop\PwC Training\Capstone\Autism use case\austim\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

20/20 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.5385 - loss: 0.7256 - val_accuracy: 0.8061 - val_loss: 0.4781
Epoch 2/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8414 - loss: 0.4443 - val_accuracy: 0.8776 - val_loss: 0.3492
Epoch 3/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9158 - loss: 0.2864 - val_accuracy: 0.9184 - val_loss: 0.2732
Epoch 4/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9580 - loss: 0.1962 - val_accuracy: 0.9286 - val_loss: 0.2251
Epoch 5/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9651 - loss: 0.1622 - val_accuracy: 0.9490 - val_loss: 0.1961
Epoch 6/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9830 - loss: 0.1014 - val_accuracy: 0.9490 - val_loss: 0.1780
Epoch 7/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9892 - loss: 0.0854 - val_accuracy: 0.9490 - val_loss: 0.1724
Epoch 8/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.9850 - loss: 0.0664 - val_accuracy: 0.9490 - val_loss: 0.1675
Epoch 9/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0464 - val_accuracy: 0.9490 - val_loss: 0.1695
Epoch 10/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0352 - val_accuracy: 0.9388 - val_loss: 0.1687
Epoch 11/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0266 - val_accuracy: 0.9490 - val_loss: 0.1694
Epoch 12/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0262 - val_accuracy: 0.9490 - val_loss: 0.1714
Epoch 13/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0178 - val_accuracy: 0.9490 - val_loss: 0.1730
Epoch 14/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 1.0000 - loss: 0.0186 - val_accuracy: 0.9490 - val_loss: 0.1752
Epoch 15/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0122 - val_accuracy: 0.9490 - val_loss: 0.1770
Epoch 16/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0118 - val_accuracy: 0.9490 - val_loss: 0.1797
Epoch 17/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 1.0000 - loss: 0.0100 - val_accuracy: 0.9490 - val_loss: 0.1833
Epoch 18/100
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 1.0000 - loss: 0.0103 - val_accuracy: 0.9490 - val_loss: 0.1858
Epoch 18: early stopping
Restoring model weights from the end of the best epoch: 8.

In [78]:
with open("ANN_adult_model.pkl","wb") as f:
    pickle.dump(model,f)

In [79]:
# Example input data (replace with actual test data)
input_data = pd.DataFrame({
    'A1_Score': [0],
    'A2_Score': [0],
    'A3_Score': [0],
    'A4_Score': [0],
    'A5_Score': [0],
    'A6_Score': [0],
    'A7_Score': [0],
    'A8_Score': [0],
    'A9_Score': [0],
    'A10_Score': [0],
    'age': [25],
    'gender': ['m'],
    'ethnicity': ["Latino"],
    'relation': ['Parent'],
    'family_pdd' : ['yes'],
    'jaundice': ['no'],
    'country_of_res': ["Angola"],
})

In [80]:
input_data=pd.get_dummies(input_data,columns=["country_of_res","ethnicity", "relation"])
input_data

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,family_pdd,jaundice,country_of_res_Angola,ethnicity_Latino,relation_Parent
0,0,0,0,0,0,0,0,0,0,0,25,m,yes,no,True,True,True

In [81]:
for col in columns:
    if col not in input_data.columns:
        input_data[col] = 0  # Fill missing dummy columns with zeros

# Reorder columns to match training
input_data = input_data[columns]

In [82]:
le = LabelEncoder()
# Note: These mappings should match the original training exactly.
# Usually, for binary variables, it maps alphabetically: (e.g., f=0, m=1), (no=0, yes=1)
input_data['gender'] = le.fit_transform(input_data['gender'])
input_data['jaundice'] = le.fit_transform(input_data['jaundice'])
input_data['family_pdd'] = le.fit_transform(input_data['family_pdd'])

In [83]:
print(input_data.iloc[:, 10:])

   age  gender  jaundice  family_pdd  country_of_res_AmericanSamoa  \
0   25       0         0           0                             0

   country_of_res_Angola  country_of_res_Armenia  country_of_res_Aruba  \
0                   True                       0                     0

   country_of_res_Australia  country_of_res_Austria  ...  ethnicity_Others  \
0                         0                       0  ...                 0

   ethnicity_Pasifika  ethnicity_South Asian  ethnicity_Turkish  \
0                   0                      0                  0

   ethnicity_White-European  ethnicity_others  relation_Others  \
0                         0                 0                0

   relation_Parent  relation_Relative  relation_Self
0             True                  0              0

[1 rows x 77 columns]

In [84]:

    
# Predict using the pre-trained model (convert input to float32 for Keras compatibility)
import numpy as np
scaled_input = sc.transform(input_data)
prediction = model.predict(scaled_input.astype(np.float32))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 39ms/step

In [85]:


# Output prediction
print("ASD Prediction:", 'Yes' if prediction[0]>0.5 else 'No')

ASD Prediction: No